.intro {
  align-items: center;
}

.intro h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 2rem;
  position: relative;
}

.intro h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("/img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.intro p {
  font-size: 1.5rem;
  color: #c8c8c8;
}

.foto {
  max-width: 100%;
  height: auto;
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media (max-width: 1000px) {
  .intro h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 1rem;
  }
  .intro h1::before {
    width: 30px;
    height: 10px;
    left: 0;
  }
}

@media (max-width: 400px) {
  .foto {
    display: none;
  }
  .intro {
    grid-template-columns: 1fr;
  }
}
